.b-container{
    width:100px;
    height:150px;
    background-color: #ccc;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: #fff;
}
.b-popupExchange{
    padding-right:100px; 
    width:100%;
    min-height:100%;
    background-color: rgba(100,100,100,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popupExchange .b-popup-content{
    margin:100px auto 0px auto;
    width:230px;
    height: 230px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
}